
#jpreOverlay {
	background-color: #181818;
	z-index:2;
	position:absolute;
}
#jpreSlide{
	font-size:22px;
	font-weight:bold;
	color:#ccc;
	text-align:center;
	width:50%;
	height:30%;
}
#jpreLoader{
	width:100%;
	height:100%;
	background-color:#181818;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	-o-transform: scale(0.6);
	-ms-transform: scale(0.6);
	transform: scale(0.6);
	
}

#jpreLoader.scale-up {
	opacity:0;
	webkit-transition: all 1000ms cubic-bezier(0.550, 0.085, 0.000, 0.990)!important;
		-moz-transition: all 1000ms cubic-bezier(0.550, 0.085, 0.000, 0.990)!important;
		-o-transition: all 1000ms cubic-bezier(0.550, 0.085, 0.000, 0.990)!important;
		transition: all 1000ms cubic-bezier(0.550, 0.085, 0.000, 0.990)!important;
		/* custom */
		-webkit-transition-timing-function: cubic-bezier(0.550, 0.085, 0.000, 0.990)!important;
		-moz-transition-timing-function: cubic-bezier(0.550, 0.085, 0.000, 0.990)!important;
		-o-transition-timing-function: cubic-bezier(0.550, 0.085, 0.000, 0.990)!important;
		transition-timing-function: cubic-bezier(0.550, 0.085, 0.000, 0.990)!important;
}
#jpreBar {
	background-image: url(../../../../../Applications/MAMP/htdocs/line.png);
	
	bottom:0;
	left:0;
	position:absolute;
	box-sizing:border-box;
}
#jprePercentage {
	display:none;
}

#jpreButton{
	padding:3px 10px;
	cursor:pointer;
	font-weight:bold;
	line-height:1.5;
	text-align:center;
	width:100px;
	margin:0 auto;
	color:#fff;
	text-shadow:-1px -1px 0 #01293F;
	border:1px solid #2EACEA;
	
	border-radius:30px;
	-moz-border-radius:30px;
	-webkit-border-radius:30px;
	
	background-color: #23a6ed;
	background-image: -moz-linear-gradient(top, #23a6ed 0%, #1275aa 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#23a6ed), color-stop(100%,#1275aa));
	background-image: -webkit-linear-gradient(top, #23a6ed 0%,#1275aa 100%);
	background-image: -o-linear-gradient(top, #23a6ed 0%,#1275aa 100%);
	background-image: -ms-linear-gradient(top, #23a6ed 0%,#1275aa 100%);
	background-image: linear-gradient(to bottom, #23a6ed 0%,#1275aa 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23a6ed', endColorstr='#1275aa',GradientType=0 );
}

@-webkit-keyframes progress {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -60px -60px;
  }
}
@-moz-keyframes progress {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -60px -60px;
  }
}
@-ms-keyframes progress {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -60px -60px;
  }
}
@-o-keyframes progress {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -60px -60px;
  }
}
@keyframes progress {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -60px -60px;
  }
}