	
	/* Full Screen Slider  */
	
	
	
		
	.showcase-slider, .blacksoft-slider, .blacksoft-slider-project {
		margin:0!important;
	}
	
	.blacksoft-slider {
		-webkit-transition: all .3s ease; 
		-moz-transition: all .3s ease; 
		transition: all .3s ease;
	}
	
	.blacksoft-slider.translate-left {
		-webkit-transform: translateX(120px);
		-moz-transform: translateX(120px);
		-o-transform: translateX(120px);
		-ms-transform: translateX(120px);
		transform: translateX(120px);
	}
	
	.blacksoft-slider.translate-right {
		-webkit-transform: translateX(-120px);
		-moz-transform: translateX(-120px);
		-o-transform: translateX(-120px);
		-ms-transform: translateX(-120px);
		transform: translateX(-120px);
	}
	
	.showcase-slider .slides > li, .blacksoft-slider .slides > li, .blacksoft-slider-project .slides > li {
		display: none; 
		-webkit-backface-visibility: hidden;
	}
		
	.showcase-slider, .showcase-slider .flex-viewport, .blacksoft-slider, .blacksoft-slider .flex-viewport, .blacksoft-slider-project, .blacksoft-slider-project .flex-viewport	 {
		width:100%;
		height:100%!important; 
		margin:0;
		padding:0; 
	}
	
	.showcase-slider .flex-viewport, .blacksoft-slider .flex-viewport, .blacksoft-slider-project .flex-viewport {
		overflow:visible!important;
	}
		
	.showcase-slider .slides, .blacksoft-slider .slides, .blacksoft-slider-project .slides {
		height:100%!important;		
		
	}
	
	.showcase-slider.delay-slides .slides, .blacksoft-slider.delay-slides .slides {
		
	}
				
	.showcase-slider .slides li, .blacksoft-slider .slides li, .blacksoft-slider-project .slides li {
		width:100%;
		height:100%!important; 
		margin:0;
		padding:0;	
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-position:center center;
		background-repeat:no-repeat;
	}
	
	.contain .blacksoft-slider .slides li, .contain .blacksoft-slider-project .slides li {
		-webkit-background-size: contain;
		-moz-background-size: contain;
		-o-background-size: contain;
		background-size: contain;
	}
	
	.showcase-slider .overlay, blacksoft-slider .overlay, .blacksoft-slider-project .overlay {
		height:100%;
		width:100%;
	}
	
	#blacksoft-nav {
		height:100%;
		position:absolute;
		width:10px;
		right:56px;
		top:0
	}
	
	#blacksoft-nav .flex-control-nav {
		position:relative;
		bottom:0;
	}
	
	#blacksoft-nav .flex-control-nav li {
		display:block;
		margin: 17px 0px;
	}
	
	#blacksoft-nav .flex-control-nav li a {
		width:6px;
		height:6px;
		margin:0 auto;
	}
	
	#blacksoft-navigation .flex-direction-nav a {
		width:240px;
		height:100%;
		background-color:transparent;
		top:0;
		margin-top:0;
	}
	
	#blacksoft-navigation .flex-direction-nav .flex-prev {
		left:-120px;
	}
	
	#blacksoft-navigation .flex-direction-nav .flex-next {
		right:-120px;
	}
	
	#blacksoft-navigation .flex-control-nav {
		bottom:40px;
	}
	
	.classic-slider .flex-direction-nav a  { 
		display: block; 
		width: 40px; 
		height: 80px; 
		margin:0; 
		position: absolute; 
		top: 50%;
		margin-top:-40px; 
		z-index: 10; 
		overflow: hidden; 
		opacity: 0; 
		cursor: pointer; 
		color: rgba(0,0,0,0.8);  
		-webkit-transition: all .3s ease; 
		-moz-transition: all .3s ease; 
		transition: all .3s ease; 
		background-color:#ddd;	
	}
	
	.classic-slider .flex-direction-nav .flex-prev { 
		opacity:0.6;
		left:-80px;
		cursor: pointer;
		background: url("../images/prev_slide_white.png");
		background-size:20px 20px;
		background-repeat:no-repeat;
		background-position:10px 30px;
		border-radius:0 2px 2px 0; 
		background-color:#222;
	}
	
	.classic-slider:hover .flex-direction-nav .flex-prev {
		left:0px;
	}
	
	.classic-slider .flex-direction-nav .flex-prev:hover {
		opacity:1;
	}
	
	.classic-slider .flex-direction-nav .flex-next {
		opacity:0.6;
		right:-80px;
		cursor: pointer;
		background-image: url("../images/next_slide_white.png");
		background-size:20px 20px;
		background-repeat:no-repeat;
		background-position:12px 30px;
		border-radius:2px 0 0 2px; 
		background-color:#222;
	}
	
	.classic-slider:hover .flex-direction-nav .flex-next {
		right:0px;
	}
	
	.blacksoft-slider .flex-direction-nav .flex-next:hover, .classic-slider .flex-direction-nav .flex-next:hover {
		opacity:1;
	}
	
	/* Full Screen Slider & Hero Captions */
	
	
	.blacksoft-caption {
		display: table;
		height: 100%;
		position: relative;
		width:100%;
		margin:0 auto;
		opacity:0;
		padding:90px 95px 90px 95px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing:    border-box;
		box-sizing:         border-box;
		-webkit-transform: translateY(-30px);
		-moz-transform: translateY(-30px);
		-o-transform: translateY(-30px);
		-ms-transform: translateY(-30px);
		transform: translateY(-30px);	
		-webkit-transition: all 0.3s ease-in-out 2s;
		-moz-transition: all 0.3s ease-in-out 2s;
		-o-transition: all 0.3s ease-in-out 2s;
		-ms-transition: all 0.3s ease-in-out 2s;
		transition: all 0.3s ease-in-out 2s;
	}
	
	.flex-active-slide .blacksoft-caption, .blacksoft-caption.animated {
		opacity:1;
		-webkit-transform: translateY(0px);
		-moz-transform: translateY(0px);
		-o-transform: translateY(0px);
		-ms-transform: translateY(0px);
		transform: translateY(0px);
		-webkit-transition: all 0.3s ease-in-out 1.5s;
		-moz-transition: all 0.3s ease-in-out 1.5s;
		-o-transition: all 0.3s ease-in-out 1.5s;
		-ms-transition: all 0.3s ease-in-out 1.5s;
		transition: all 0.3s ease-in-out 1.5s;
	}
	
	#map_cover .blacksoft-caption.animated {
		opacity:1;
		-webkit-transform: translateY(0px);
		-moz-transform: translateY(0px);
		-o-transform: translateY(0px);
		-ms-transform: translateY(0px);
		transform: translateY(0px);
		-webkit-transition: all 0.3s ease-in-out 0s;
		-moz-transition: all 0.3s ease-in-out 0s;
		-o-transition: all 0.3s ease-in-out 0s;
		-ms-transition: all 0.3s ease-in-out 0s;
		transition: all 0.3s ease-in-out 0s;	
	}		
	
	.section .blacksoft-caption {
		display: table;
		height: 100%;
		position: relative;
		width:100%;
		padding:100px 95px 100px 95px;
		opacity:0;
		-webkit-box-sizing: border-box;
		-moz-box-sizing:    border-box;
		box-sizing:         border-box;
		-webkit-transform: translateY(100px);
		-moz-transform: translateY(100px);
		-o-transform: translateY(100px);
		-ms-transform: translateY(100px);
		transform: translateY(100px);	
		-webkit-transition: all 0.3s ease-in-out ;
		-moz-transition: all 0.3s ease-in-out ;
		-o-transition: all 0.3s ease-in-out ;
		-ms-transition: all 0.3s ease-in-out ;
		transition: all 0.3s ease-in-out ;
	}
	
	.section .blacksoft-caption.animated-top {
		-webkit-transform: translateY(-150px);
		-moz-transform: translateY(-150px);
		-o-transform: translateY(-150px);
		-ms-transform: translateY(-150px);
		transform: translateY(-150px);
	}	
	
	.section .blacksoft-caption.animated-top.animated {
		transition: all 0.7s ease-in-out 0.8s;
		-webkit-transition: all 0.7s ease-in-out 0.8s;
		-moz-transition: all 0.7s ease-in-out 0.8s;
		-o-transition: all 0.7s ease-in-out 0.8s;
		-ms-transition: all 0.7s ease-in-out 0.8s;
	}
	
	.section .blacksoft-caption.animated {
		opacity:1;
		-webkit-transform: translateY(0px);
		-moz-transform: translateY(0px);
		-o-transform: translateY(0px);
		-ms-transform: translateY(0px);
		transform: translateY(0px);		
		transition: all 0.7s ease-in-out 0.6s;
		-webkit-transition: all 0.4s ease-in-out 0.6s;
		-moz-transition: all 0.7s ease-in-out 0.6s;
		-o-transition: all 0.7s ease-in-out 0.6s;
		-ms-transition: all 0.7s ease-in-out 0.6s;
	}	
	
	.section .caption-content {
		vertical-align:bottom!important;
		padding:0;
		position:relative;
		-webkit-transition: all 0.3s ease-in-out 0s;
		-moz-transition: all 0.3s ease-in-out 0s;
		-o-transition: all 0.3s ease-in-out 0s;
		-ms-transition: all 0.3s ease-in-out 0s;
		transition: all 0.3s ease-in-out 0s;	
	}
	
	.caption-content {
		display: table-cell;
		-webkit-box-sizing: border-box;
		-moz-box-sizing:    border-box;
		box-sizing:         border-box;
		padding:0;
		opacity:1;
	}
	
	.caption-content.disabled {
		opacity:0;
	}
	
	.caption-content.center-center {
		text-align:center;
		vertical-align:middle;
	}
	
	.caption-content.center-center .title-has-line:after {
		background: none repeat scroll 0 0 #d28e3d;
		bottom: -20px;
		content: "";
		height: 1px;
		left: 50%;
		margin-left: -20px;
		position: absolute;
		width: 40px;
	}
	
	.caption-content.center-left {
		text-align:left;
		vertical-align:middle;
	}
	
	.caption-content.center-right {
		text-align:right;
		vertical-align:middle;
	}
	
	.caption-content.bottom-center {
		text-align:center;
		vertical-align:bottom;
	}
	
	.caption-content.bottom-center .title-has-line:after {
		background: none repeat scroll 0 0 #d28e3d;
		bottom: -20px;
		content: "";
		height: 1px;
		left: 50%;
		margin-left: -20px;
		position: absolute;
		width: 40px;
	}
	
	.caption-content.bottom-left {
		text-align:left;
		vertical-align:bottom;
	}
	
	.caption-content.bottom-right {
		text-align:right;
		vertical-align:bottom;
	}
	
	.caption-content.top-center {
		text-align:center;
		vertical-align:top;
	}
	
	.caption-content.top-center .title-has-line:after {
		background: none repeat scroll 0 0 #d28e3d;
		bottom: -20px;
		content: "";
		height: 1px;
		left: 50%;
		margin-left: -20px;
		position: absolute;
		width: 40px;
	}
	
	.caption-content.top-left {
		text-align:left;
		vertical-align:top;
	}
	
	.caption-content.top-right {
		text-align:right;
		vertical-align:top;
	}
	
	
	/* Full Screen Project Slider Captions */	
	
	.blacksoft-slider-project .blacksoft-caption.animated {
		opacity:1;
		-webkit-transition: all 0.3s ease-in-out 0s;
		-moz-transition: all 0.3s ease-in-out 0s;
		-o-transition: all 0.3s ease-in-out 0s;
		-ms-transition: all 0.3s ease-in-out 0s;
		transition: all 0.3s ease-in-out 0s;
	}
	
	.classic-slider {
		display:block;
		position:relative;
		width:100%;
		overflow:hidden;
		margin:0;
	}
	
	
	
	
@media only screen and (max-width: 1600px) {
	
	.section .blacksoft-caption {
		padding:100px 85px 100px 85px;
	}

}


@media only screen and (max-width: 1466px) {
	
	.section .blacksoft-caption {
		padding:80px 65px 80px 65px;
	}

}


@media only screen and (max-width: 1024px) {
	
	.section .blacksoft-caption {
		padding:70px 55px 70px 55px;
	}
	
}


@media only screen and (max-width: 767px) {
	
	.section .blacksoft-caption {
		padding:50px 35px 50px 35px;
	}
	
}


@media only screen and (max-width: 479px) {
	
	
		
}