<div class="item-data project-page clearfix">



    <!-- Project Close Button -->
    <a id="project_close" class="hide" href="#" title="Close Project"><img src="images/close.png" class="closeicon" /></a>
	<!--/Project Close Button -->
    
    
    
    <!-- Project Content --> 
    <div class="project-content">
    
       <!-- Row --> 
        <div class="vc_row small row_padding_top">
        
            <div class="container">            
            
                <div class=" one_half">                
                
                	<p class="bigger">Full steam ahead for commuters</p> 
                
                </div>
                
                
                <div class=" one_half last"> 
                
                    <p>According to the popular song, “Everywhere you go, you always take the weather.” For ferry passengers, that’s always been a major frustration.
 

</p>
<br>
<p>
Delays and cancellations cost commuters (and their employers) thousands of dollars every year. And for Fullers, the cost of sending text notifications to inconvenienced customers was setting them back a whopping $100 000 per annum.
 
</p>                 
                
                </div>
            
            
            </div>
        
        </div>
        <!--/Row -->
        
        
        
        
        
        
     
   
        
        
       <!-- Row --> 
        <div class="vc_row small row_padding_top">
        
            <div class="container">
            
            	<div class="one_half">            
            
                   <img class="has-animation" data-delay="10" src="images/projects/fm1.jpg" alt="Image Title">
                
                </div>
                
             
                    
              <div class="one_half last">            
            
                    <img class="has-animation" data-delay="10" src="images/projects/fm6.jpg" alt="Image Title"> 
                
                </div>
                    
                <div class="one_half">            
            
                    <img class="has-animation" data-delay="10" src="images/projects/fm7.jpg" alt="Image Title"> 
                
                </div>
                    
              <div class="one_half last">            
            
                    <img class="has-animation" data-delay="10" src="images/projects/fm3.jpg" alt="Image Title"> 
                
                </div>
                 <div class="one_half">            
            
                    <img class="has-animation" data-delay="10" src="images/projects/fm8.jpg" alt="Image Title"> 
                
                </div>
                    
              <div class="one_half last">            
            
                    <img class="has-animation" data-delay="10" src="images/projects/fm5.jpg" alt="Image Title"> 
                
                </div>
            
            </div>
        
        </div>
        <!--/Row -->
        
          <!-- Row --> 
        <div class="vc_row small row_padding_top">
        
            <div class="container">            
            
                
                
                
                <div class=" one_half last"> 
                
                    <p>Black Software saw two areas where smart technology could improve the Fullers customer experience and slash operating costs: Ticketing and Customer Notification.

</p>
<br>
<p>
MyFerry is a user-friendly mobile App designed for Android and Apple smartphones. It enables customers to book and pay for their passage using their phones, eliminating the hassle of queuing (to say nothing of lost tickets). For Fullers, it saves on printing costs and staff hire.
 
</p>                 
                
                </div>
            
            
            </div>
        
        </div>
        <!--/Row -->
        
        <!-- Row --> 
        <div class="vc_row full">
        
            <div class="container">
                
                <figure>
                    <img class="has-animation" data-delay="10" src="images/projects/fullers1.jpg" alt="Image Title">               
                   
            	</figure>                    
                    
            
            </div>
        
        </div>
        <!--/Row -->
        
        
          <!-- Row --> 
        <div class="vc_row small row_padding_top">
        
            <div class="container">            
            
                
                
                <div class="one_half"></div>
               
                <div class=" one_half last"> 
                
                    <p>Where MyFerry really comes into its own is in alerting commuters to any potential hiccups on their daily commute. Instant push notifications not only forewarn customers – allowing them to reschedule accordingly – they can even be personalized according to the individual’s route/s.  




</p>
<br>
<p>
Since launching MyFerry, Fullers has been able to crush the costs of customer notifications to just $5 000 per year - a 95% saving! No less significant, their shift from reactive to proactive customer care has boosted satisfaction levels immeasurably for both parties.
</p>                 
                
                </div>
            
            
            </div>
        
        </div>
        <!--/Row -->
        
        
        <!-- Row --> 
        <div class="vc_row small  row_padding_top row_padding_bottom">
        
            <div class="container">
            
            	<div class="one_half">            
            
                   <img class="has-animation" data-delay="10" src="images/projects/fm9.jpg" alt="Image Title">
                
                </div>
                
             
                    
              <div class="one_half last">            
            
                    <img class="has-animation" data-delay="10" src="images/projects/fm2.jpg" alt="Image Title"> 
                
                </div>
                    
                <div class="one_half">            
            
                    <img class="has-animation" data-delay="10" src="images/projects/fm10.jpg" alt="Image Title"> 
                
                </div>
                    
              <div class="one_half last">            
            
                    <img class="has-animation" data-delay="10" src="images/projects/fm12.jpg" alt="Image Title"> 
                
                </div>
                 <div class="one_half">            
            
                    <img class="has-animation" data-delay="10" src="images/projects/fm11.jpg" alt="Image Title"> 
                
                </div>
                    
              <div class="one_half last">            
            
                    <img class="has-animation" data-delay="10" src="images/projects/fm13.jpg" alt="Image Title"> 
                
                </div>
            
            </div>
        
        </div>
        <!--/Row -->
        
        
        
      
            
            
   
        
        <!-- Background Vertical Lines -->
        <div class="bg-lines">    
            <div class="bg-line left"></div>        
            <div class="bg-line center"></div>        
            <div class="bg-line right"></div>    
        </div>
        <!--/Background Vertical Lines -->
        
        
	</div>        
    <!--/Project Content --> 
    
    
    <div id="nav-anchor"></div>
    
    <!-- Next Project Hero Image -->
    <div id="project_next" class="light-content" style="background-image:url(images/3.jpg);">
    
    	<div class="gradient"></div>
    	
        <div class="overlay">
        
        	<div class="outer">
            	<div class="inner">
                	<div class="project-link">
                		<div class="open-project">Suitebox</div>                        
            		</div>
            	</div>
            </div>
            
                
            <div class="next-project-footer">
            
            	<p class="next">Got a project? <a href="contact">Lets talk</a></p>                              
                
            
            	<p class="copyright">2018 &copy; BlackSoftware</p>
                
            </div>
        
        </div>    
    </div>
    <!--/Next Project Hero Image -->
        
        
    
</div>  

