<div class="item-data project-page clearfix">



    <!-- Project Close Button -->
    <a id="project_close" class="hide" href="#" title="Close Project"><img src="images/close.png" class="closeicon" /></a>
	<!--/Project Close Button -->
    
    
    
    <!-- Project Content --> 
    <div class="project-content">
    
       <!-- Row --> 
        <div class="vc_row small row_padding_top row_padding_bottom">
        
            <div class="container">            
            
                <div class=" one_half">                
                
                	<p class="bigger">Get things done. Anything, anywhere, anytime.</p> 
                
                </div>
                
                
                <div class=" one_half last"> 
                
                    <p>Forgotten your anniversary? 
Wouldn’t it be great if you knew someone ready to dash down to the florist right now and buy a bunch of flowers? Blocked drainpipes? Why spend your Saturday up a ladder when there’s a bloke who’d be glad to earn a few dollars while you go fishing? 

<br>
The simple idea behind Joblist’s online work exchange interface is that there are as many people looking for jobs as there as are people who don’t have the time and/or inclination to do them. So, why not put them in touch with each other? The big challenge is the issue of trust. People tend to be wary of hiring strangers in their homes, and job seekers are scared of being stiffed by private individuals. 
 
</p>                 
                
                </div>
            
            
            </div>
        
        </div>
        <!--/Row -->
        
	
        
        
        
        
        
        <!-- Row --> 
        <div class="vc_row full">
        
            <div class="container">
            
            	<div class=" one_half">
                	<img class="has-animation" data-delay="10" src="images/projects/jl_mac.jpg" alt="Image Title">
                </div>
                
                <div class=" one_half last">            
	            	<img class="has-animation" data-delay="10" src="images/projects/jl_ipad.jpg" alt="Image Title">                
                </div>
            
            </div>
        
        </div>
        <!--/Row -->
        
        
        
        <!-- Row --> 
        <div class="vc_row">
        
            <div class="container">
                
                <!-- Gallery -->
                    <ul class="gallery mfp-gallery">
                        <li>
                        	<a class="mf-zoom" href="images/projects/4b.jpg">	
                                <img class="has-animation" data-delay="100" src="images/projects/jl_sub.jpg" alt="image" />
                                <div class="zoom"></div>
                            </a>
                        </li>
                        <li>
                            <a class="mf-zoom" href="images/projects/4c.jpg">	
                                <img class="has-animation" data-delay="300" src="images/projects/jl_sub2.jpg" alt="image" />
                                <div class="zoom"></div>
                            </a>
                        </li>                       
                    </ul>
                <!--/Gallery -->                    
                    
            
            </div>
        
        </div>
        <!--/Row -->
        
        
       
    <!-- Project Content --> 
    <div class="project-content">
    
       <!-- Row --> 
        <div class="vc_row small row_padding_top row_padding_bottom">
        
            <div class="container">            
            
                <div class=" one_half"> 
                
                    <p>Joblist’s website, designed by Black Software, goes a long way to establish a down 
to earth, believable brand. The design and content have a distinctively engaging, cheerful and friendly style with an intuitive interactive component. 


<br>
However, besides these “soft” extrinsics, users also needed some real guarantees. We thus developed mechanisms to put both parties’ minds at rest.
 
</p>                 
                
                </div>
            
            
            </div>
        
        </div>
		</div>
        <!--/Row -->
        
        
        
        <!-- Row --> 
        <div class="vc_row full">
        
            <div class="container">
                
                <figure>
                    <img class="has-animation" data-delay="10" src="images/projects/joblist1.jpg" alt="Image Title">               
                    <figcaption>JobList Team</figcaption>
            	</figure>                    
                    
            
            </div>
        
        </div>
        <!--/Row -->
        
  
    
       <!-- Row --> 
        <div class="vc_row small row_padding_top row_padding_bottom">
        
            <div class="container">            
            
                <div class=" one_half last"> 
                
                    <p>For the employer, there is an interac-tive rating system, so prospective job-seekers are vetted, rated and and referred by other people who have hired them. For the job-seekers’ protection, Black Software also developed a special escrow system that guarantees payment on com-pletion of the job. No matter how small or how large the task, Joblist users can get the job done and pay (or get paid) an agreeable price for it.  


<br>
By creating a credible and fun website supported by a highly practical and responsive back-end, Black Software has ensured that Joblist is really working.
 
</p>                 
                
                </div>
            
            
            </div>
        
        </div>
        
	
        <!--/Row -->
        
        <!-- Row --> 
        <div class="vc_row small row_padding_top row_padding_bottom">
        
            <div class="container">
            
            	<div class="one_half">            
            
                    <img class="has-animation" data-delay="10" src="images/projects/jl8.jpg" alt="Image Title"> 
                
                </div>
                
                
                <div class="one_half last">            
            
                    <img class="has-animation" data-delay="10" src="images/projects/jl2.jpg" alt="Image Title"> 
                
                </div>
                	<div class="one_half">            
            
                    <img class="has-animation" data-delay="10" src="images/projects/jl3.jpg" alt="Image Title"> 
                
                </div>
                
                
                <div class="one_half last">            
            
                    <img class="has-animation" data-delay="10" src="images/projects/jl4.jpg" alt="Image Title"> 
                
                </div>
                	<div class="one_half">            
            
                    <img class="has-animation" data-delay="10" src="images/projects/jl5.jpg" alt="Image Title"> 
                
                </div>
                
                
                <div class="one_half last">            
            
                    <img class="has-animation" data-delay="10" src="images/projects/jl6.jpg" alt="Image Title"> 
                
                </div>
            
            </div>
        
        </div>
        <!--/Row -->
        
        
      
            
            
            
   
        
        
        <!-- Background Vertical Lines -->
        <div class="bg-lines">    
            <div class="bg-line left"></div>        
            <div class="bg-line center"></div>        
            <div class="bg-line right"></div>    
        </div>
        <!--/Background Vertical Lines -->
        
        
	</div>    
    <!--/Project Content --> 
    
    
    <div id="nav-anchor"></div>
    
    <!-- Next Project Hero Image -->
    <div id="project_next" class="light-content" style="background-image:url(images/7.jpg);">
    
    	<div class="gradient"></div>
    	
        <div class="overlay">
        
        	<div class="outer">
            	<div class="inner">
                	<div class="project-link">
                		<div class="open-project">Squiggla</div>                        
            		</div>
            	</div>
            </div>
            
                
            <div class="next-project-footer">
            
            	<p class="next">Got a project? <a href="contact">Lets talk</a></p>                              
                
            
            	<p class="copyright">2018 &copy; BlackSoftware</p>
                
            </div>
        
        </div>    
    </div>
    <!--/Next Project Hero Image -->
        
        
    
</div>  

