<div class="item-data project-page clearfix">



    <!-- Project Close Button -->
    <a id="project_close" class="hide" href="#" title="Close Project"><img src="images/close.png" class="closeicon" /></a>
	<!--/Project Close Button -->
    
    
    
    <!-- Project Content --> 
    <div class="project-content">
    
       <!-- Row --> 
        <div class="vc_row small row_padding_top row_padding_bottom">
        
            <div class="container">            
            
                <div class=" one_half">                
                
                	<p class="bigger">Retirement planning made simple</p> 
                
                </div>
                
                
                <div class=" one_half last"> 
                
                    <p>Technically, it’s illegal for a banker to give investment “advice.” But, short of hiring a private financial adviser, how else can the ordinary consumer make head or tail of the wide range of retirement investment options available? 
<br>
Bearing in mind the importance of maintaining the human touch, Black Software developed an iPad app/tool for ABS Bank staff to help their customers understand the ins and outs of their KiwiSaver retirement savings scheme.  
</p>                 
                
                </div>
            
            
            </div>
        
        </div>
        <!--/Row -->
        
        
        
        
        
        
        
        <!-- Row --> 
        <div class="vc_row full">
        
            <div class="container">
            
            	<div class=" one_half">
                	<img class="has-animation" data-delay="10" src="images/projects/ipad.png" alt="Image Title">
                </div>
                
                <div class=" one_half last">            
	            	<img class="has-animation" data-delay="10" src="images/projects/ipad2.png" alt="Image Title">                
                </div>
            
            </div>
        
        </div>
        <!--/Row -->
        
         <!-- Row --> 
        <div class="vc_row small row_padding_top row_padding_bottom">
        
            <div class="container">         
        
          <div class=" one_half last"> 
                
                    <p>A very clear, attractive UI had to be designed to make it easy for branch staff and their (largely not tech-savvy) customers to work with. 



<br>
The app worked following an easy navigation path, determined by the customer’s answers to a series of questions at each step of the process. Starting with a Risk Profiler, the customer could determine what sort of risk level they could afford with their retirement investments. Based on their Risk Profile, the app then offered options for a safe split of investment funds that would mitigate that risk. Customers could then tap to see a clear graphic projection of the likely performance of those funds, based on their monthly/annual payments, compounded interest and various investment risk factors. 
</p>                 
                
                </div>
                
			</div>
       
		</div>
        
        <!-- Row --> 
        <div class="vc_row">
        
            <div class="container">
                
                <!-- Gallery -->
                    <ul class="gallery mfp-gallery">
                        <li>
                        	<a class="mf-zoom" href="images/projects/ASB Workbook 2_Page_02.jpg">	
                                <img class="has-animation" data-delay="100" src="images/projects/ASB Workbook 2_Page_02.jpg" alt="image" />
                                <div class="zoom"></div>
                            </a>
                        </li>
                        <li>
                            <a class="mf-zoom" href="images/projects/ASB Workbook 2_Page_03.jpg">	
                                <img class="has-animation" data-delay="300" src="images/projects/ASB Workbook 2_Page_03.jpg" alt="image" />
                                <div class="zoom"></div>
                            </a>
                        </li>    
                         <li>
                            <a class="mf-zoom" href="images/projects/ASB Workbook 2_Page_04.jpg">	
                                <img class="has-animation" data-delay="300" src="images/projects/ASB Workbook 2_Page_04.jpg" alt="image" />
                                <div class="zoom"></div>
                            </a>
                        </li>      
                         <li>
                            <a class="mf-zoom" href="images/projects/ASB Workbook 2_Page_05.jpg">	
                                <img class="has-animation" data-delay="300" src="images/projects/ASB Workbook 2_Page_05.jpg" alt="image" />
                                <div class="zoom"></div>
                            </a>
                        </li>                         
                    </ul>
                <!--/Gallery -->                    
                    
            
            </div>
        
        </div>
        <!--/Row -->
        
        
        
        <!-- Row --> 
        <div class="vc_row small row_padding_top row_padding_bottom">
        
            <div class="container">         
        
        
          <div class=" one_half"> 
                
                    <p>Having empowered customers to weigh up the options and make an informed opinion at an introductory level, the bank could then give them the option to consult with qualified sales and advisory staff. </p>

 </div>


				<div class=" one_half last">
				<p>
The beauty of the KiwiSaver App was in its user-friendliness. Extensive back-end thinking was creatively visualized to make sure that even inexperienced people could pick up and interact confidently with the UI, easily navigating the wide array of options. This allowed the client to manage large numbers of customers.  

</p>                 
                
                </div>
     
        </div>
        
        </div>
       
        
        
        <!-- Row --> 
        <div class="vc_row">
        
            <div class="container">
            
            	<!-- Classic Slider -->
                <div class="classic-slider flexslider">
                    <ul class="slides">
                        <li>
                            <img src="images/projects/25.jpg" alt="image" />
                        </li>
                        <li>
                            <img src="images/projects/26.jpg" alt="image" />
                        </li>
                           <li>
                            <img src="images/projects/27.jpg" alt="image" />
                        </li>
                        <li>
                            <img src="images/projects/28.jpg" alt="image" />
                        </li>
                           <li>
                            <img src="images/projects/29.jpg" alt="image" />
                        </li>
                        <li>
                            <img src="images/projects/30.jpg" alt="image" />
                        </li>
                           <li>
                            <img src="images/projects/31.jpg" alt="image" />
                        </li>
                        <li>
                            <img src="images/projects/32.jpg" alt="image" />
                        </li>
                        <li>
                            <img src="images/projects/33.jpg" alt="image" />
                        </li>
                        
                    </ul>
                </div>
                <!--/Classic Slider -->
            
            </div>
        
        </div>
        <!--/Row -->
            
            
    
        
        <!-- Background Vertical Lines -->
        <div class="bg-lines">    
            <div class="bg-line left"></div>        
            <div class="bg-line center"></div>        
            <div class="bg-line right"></div>    
        </div>
        <!--/Background Vertical Lines -->
        
        
	</div>        
    <!--/Project Content --> 
    
    
    <div id="nav-anchor"></div>
    
    <!-- Next Project Hero Image -->
    <div id="project_next" class="light-content" style="background-image:url(images/5.jpg);">
    
    	<div class="gradient"></div>
    	
        <div class="overlay">
        
        	<div class="outer">
            	<div class="inner">
                	<div class="project-link">
                		<div class="open-project">Joblist</div>                        
            		</div>
            	</div>
            </div>
            
                
            <div class="next-project-footer">
            
            	<p class="next">Got a project? <a href="contact">Lets talk</a></p>                              
                
            
            	<p class="copyright">2018 &copy; BlackSoftware</p>
                
            </div>
        
        </div>    
    </div>
    <!--/Next Project Hero Image -->
        
        
    
</div>  

