<div class="item-data project-page clearfix">



    <!-- Project Close Button -->
    <a id="project_close" class="hide" href="#" title="Close Project"><img src="images/close.png" class="closeicon" /></a>
	<!--/Project Close Button -->
    
    
    
    <!-- Project Content --> 
    <div class="project-content">
    
    
        <!-- Row --> 
        <div class="vc_row small text-align-center row_padding_top row_padding_bottom">
        
            <div class="container">
                
                <h3>Polima Video</h3>                  
            
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pellentesque, eros et tincidunt porta, dolor lorem ornare odio, nec sodales velit lorem non purus. Nam quis sem in arcu laoreet imperdiet at tincidunt justo. </p>
                
                <p><a class="link" href="http://themeforest.net/user/blacksoft/portfolio" target="_blank" title="Close Project">blacksoft Studio</a></p>                                     
                
            </div>
        
        </div>
        <!--/Row -->        
        
        
        <!-- Row --> 
        <div class="vc_row">
        
            <div class="container">
            
            	<figure>
                    <img class="has-animation" data-delay="10" src="images/projects/5a.jpg" alt="Image Title">               
                    <figcaption>Image Caption</figcaption>
            	</figure>
            
            </div>
        
        </div>
        <!--/Row -->
        
        
        <!-- Row --> 
        <div class="vc_row row_padding_top">
        
            <div class="container">
            
            	<figure>
                    <img class="has-animation" data-delay="10" src="images/projects/5b.jpg" alt="Image Title">               
                    <figcaption>Image Caption</figcaption>
            	</figure>              
            
            </div>
        
        </div>
        <!--/Row -->
        
        
        <!-- Row --> 
        <div class="vc_row row_padding_top">
        
            <div class="container">
            
            	<figure>
                    <img class="has-animation" data-delay="10" src="images/projects/5c.jpg" alt="Image Title">               
                    <figcaption>Image Caption</figcaption>
            	</figure>
            
            </div>
        
        </div>
        <!--/Row -->
        
        
        <!-- Row --> 
        <div class="vc_row text-align-center row_padding_top row_padding_bottom">
        
            <div class="container">
            
            	<!-- Number Counters -->
                        <ul class="blacksoft-counters">
                    
                            <li class="blacksoft-counter"> 
                                <div class="number">65</div> 
                                <div class="subject">Awards Won</div> 
                            </li> 
                    
                            <li class="blacksoft-counter"> 
                                <div class="number">37</div> 
                                <div class="subject">GitHub Repo's</div> 
                            </li> 
                    
                            <li class="blacksoft-counter"> 
                                <div class="number">439</div> 
                                <div class="subject">Cups of Coffee</div> 
                            </li>
                   
                        </ul>    
                        <!--/Number Counters -->
            
            </div>
        
        </div>
        <!--/Row -->
        
               
        
        
        
        <!-- Background Vertical Lines -->
        <div class="bg-lines">    
            <div class="bg-line left"></div>        
            <div class="bg-line center"></div>        
            <div class="bg-line right"></div>    
        </div>
        <!--/Background Vertical Lines -->
        
        
	</div>        
    <!--/Project Content --> 
    
    
    <div id="nav-anchor"></div>
    
    <!-- Next Project Hero Image -->
    <div id="project_next" class="light-content" style="background-image:url(images/1.jpg);">
    
    	<div class="gradient"></div>
    	
        <div class="overlay">
        
        	<div class="outer">
            	<div class="inner">
                	<div class="project-link">
                		<div class="open-project">The<br>Glass House</div>                        
            		</div>
            	</div>
            </div>
            
            <div class="next-project-footer">
            
            	<p class="next">Next Project</p>                              
                
            
            	<p class="copyright">2016 &copy; Karioca Theme. All rights Reserved.</p>
                
            </div>
        
        </div>    
    </div>
    <!--/Next Project Hero Image -->
        
        
    
</div>  

