<div class="item-data project-page clearfix">

 

      
 
    <!-- Project Close Button -->
    <a id="project_close" class="hide" href="#" title="Close Project"><img src="images/close.png" class="closeicon" /></a>
	<!--/Project Close Button -->
    
    
    
    <!-- Project Content --> 
    <div class="project-content">
    
    
        <!-- Row --> 
        <div class="vc_row small row_padding_top row_padding_bottom">
        
            <div class="container">            
            
                <div class=" one_half">                
                
                	<p class="bigger">It’s time to start your legend</p> 
                
                </div>
                
                
                <div class=" one_half last"> 
                
                    <p>Take your Camaro to the next level with 1LE performance packages, available on the 2017 V8 SS and 2017 V6 LT. Featuring higher levels of suspension stiffness and damping, as well as more aggressive tires, more powerful brakes and higher downforce, the 2017 Camaro SS 1LE sets the new benchmark for the segment.</p>                 
                
                </div>
            
            
            </div>
        
        </div>
        <!--/Row -->
        
        
        
        
        <!-- Row --> 
        <div class="vc_row">
        
            <div class="container">
                
                <!-- Gallery -->
                    <ul class="gallery mfp-gallery">
                        <li class="full">
                        	<a class="mf-zoom" href="images/projects/3a.jpg">	
                                <img class="has-animation" data-delay="100" src="images/projects/3a.jpg" alt="image" />
                                <div class="zoom"></div>
                            </a>
                        </li>
                        <li class="full">
                            <a class="mf-zoom" href="images/projects/3b.jpg">	
                                <img class="has-animation" data-delay="100" src="images/projects/3b.jpg" alt="image" />
                                <div class="zoom"></div>
                            </a>
                        </li>
                        <li>
                        	<a class="mf-zoom" href="images/projects/3c.jpg">	
                                <img class="has-animation" data-delay="100" src="images/projects/3c.jpg" alt="image" />
                                <div class="zoom"></div>
                            </a>
                        </li>
                        <li>
                            <a class="mf-zoom" href="images/projects/3d.jpg">	
                                <img class="has-animation" data-delay="100" src="images/projects/3d.jpg" alt="image" />
                                <div class="zoom"></div>
                            </a>
                        </li>                       
                    </ul>
                <!--/Gallery -->                    
                    
            
            </div>
        
        </div>
        <!--/Row -->
        
        
        
        <!-- Row --> 
        <div class="vc_row small row_padding_top row_padding_bottom">
        
            <div class="container">
                
            	<h2>PROJECT FEATURES</h2>
                
                <br>
                
            	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id nibh at sem malesuada lacinia. Suspendisse ut luctus mauris. Fusce bibendum sagittis ornare.</p>
            	
                <br>
                
                <a href="https://www.behance.net/gallery/35502607/Chevrolet-Camaro-SS" target="_blank" class="blacksoft-button">Ream More</a>
                
                <br><br>
            
            </div>
        
        </div>
        <!--/Row -->
        
        
        
               
        
        
        
        <!-- Background Vertical Lines -->
        <div class="bg-lines">    
            <div class="bg-line left"></div>        
            <div class="bg-line center"></div>        
            <div class="bg-line right"></div>    
        </div>
        <!--/Background Vertical Lines -->
        
        
	</div>        
    <!--/Project Content --> 
    
    
    <div id="nav-anchor"></div>
    
    <!-- Next Project Hero Image -->
    <div id="project_next" class="light-content" style="background-image:url(images/4.jpg);">
    
    	<div class="gradient"></div>
    	
        <div class="overlay">
        
        	<div class="outer">
            	<div class="inner">
                	<div class="project-link">
                		<div class="open-project">Casa Rhodes</div>                        
            		</div>
            	</div>
            </div>
            
            <div class="next-project-footer">
            
            	<p class="next">Next Project</p>                              
                
            
            	<p class="copyright">2016 &copy; Karioca Theme. All rights Reserved.</p>
                
            </div>
        
        </div>    
    </div>
    <!--/Next Project Hero Image -->
        
        
    
</div>  

