<div class="item-data project-page clearfix">



    <!-- Project Close Button -->
    <a id="project_close" class="hide" href="#" title="Close Project"><img src="images/close.png" class="closeicon" /></a>
	<!--/Project Close Button -->
    
    
    
    <!-- Project Content --> 
    <div class="project-content">
    
    
        <!-- Row --> 
        <div class="vc_row small row_padding_top">
        
            <div class="container">               
                
                <div class=" one_half last">
                
                	<p class="bigger">Styling and Experience Concept </p> 
                 
                
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pellentesque, eros et tincidunt porta, dolor lorem ornare odio, nec sodales velit lorem non purus. Nam quis sem in arcu laoreet imperdiet at tincidunt justo. Ut eros magna, cursus sed laoreet et, dignissim nec dolor.</p>
                    
                    <p><a class="link" href="https://www.behance.net/gallery/38039265/Casa-Cook-Rhodes" target="_blank" title="Close Project">Annabell Kutucu</a></p>                                     
                
                </div>
            
            
            </div>
        
        </div>
        <!--/Row -->
        
        
        
        
        
        
        
        <!-- Row --> 
        <div class="vc_row full">
        
            <div class="container">
            
            	<div class=" one_half">
                	<img class="has-animation" data-delay="10" src="images/projects/4b.png" alt="Image Title">
                </div>
                
                <div class=" one_half last">            
	            	<img class="has-animation" data-delay="10" src="images/projects/4a.png" alt="Image Title">                
                </div>
            
            </div>
        
        </div>
        <!--/Row -->
        
        
        
        <!-- Row --> 
        <div class="vc_row">
        
            <div class="container">
                
                <!-- Gallery -->
                    <ul class="gallery mfp-gallery">
                        <li>
                        	<a class="mf-zoom" href="images/projects/4b.jpg">	
                                <img class="has-animation" data-delay="100" src="images/projects/4b.jpg" alt="image" />
                                <div class="zoom"></div>
                            </a>
                        </li>
                        <li>
                            <a class="mf-zoom" href="images/projects/4c.jpg">	
                                <img class="has-animation" data-delay="300" src="images/projects/4c.jpg" alt="image" />
                                <div class="zoom"></div>
                            </a>
                        </li>                       
                    </ul>
                <!--/Gallery -->                    
                    
            
            </div>
        
        </div>
        <!--/Row -->
        
        
        
        <!-- Row --> 
        <div class="vc_row small row_padding_top row_padding_bottom small text-align-center">
        
            <div class="container"> 
                
                <div class="one_half">            
            
                    <!-- Progress Bars -->
                    <ul class="progress-bar"> 
                        <li>
                            <p>Development</p>
                            <div class="bar-wrap"><span data-width="100"><strong><i>100</i>%</strong> </span></div>
                        </li> 
                        <li>
                            <p>Brainding</p>
                            <div class="bar-wrap"><span data-width="75"><strong><i>75</i>%</strong> </span></div>
                        </li>
                        <li>
                            <p>User Experience</p>
                            <div class="bar-wrap"><span data-width="85"><strong><i>85</i>%</strong> </span></div>
                        </li> 
                    </ul>
                    <!--/Progress Bars -->
                
                </div>
                
                
                <div class="one_half last">            
            
                    <!-- Progress Bars -->
                    <ul class="progress-bar"> 
                        <li>
                            <p>Development</p>
                            <div class="bar-wrap"><span data-width="100"><strong><i>100</i>%</strong> </span></div>
                        </li> 
                        <li>
                            <p>Brainding</p>
                            <div class="bar-wrap"><span data-width="75"><strong><i>75</i>%</strong> </span></div>
                        </li>
                        <li>
                            <p>User Experience</p>
                            <div class="bar-wrap"><span data-width="85"><strong><i>85</i>%</strong> </span></div>
                        </li> 
                    </ul>
                    <!--/Progress Bars -->
                
                </div>
            
            </div>
        
        </div>
        <!--/Row -->
        
        
        
        <!-- Row --> 
        <div class="vc_row full">
        
            <div class="container">
                
                <figure>
                    <img class="has-animation" data-delay="10" src="images/projects/4d.jpg" alt="Image Title">               
                    <figcaption>Pool View</figcaption>
            	</figure>                    
                    
            
            </div>
        
        </div>
        <!--/Row -->
        
        
        
        <!-- Row --> 
        <div class="vc_row small row_padding_top">
        
            <div class="container">
            
            	<div class="one_half">            
            
                    <img class="has-animation" data-delay="10" src="images/projects/4e.jpg" alt="Image Title"> 
                
                </div>
                
                
                <div class="one_half last">            
            
                    <img class="has-animation" data-delay="10" src="images/projects/4f.jpg" alt="Image Title"> 
                
                </div>
            
            </div>
        
        </div>
        <!--/Row -->
        
        
        
        <!-- Row --> 
        <div class="vc_row row_padding_top">
        
            <div class="container">
            
            	<!-- Classic Slider -->
                <div class="classic-slider flexslider">
                    <ul class="slides">
                        <li>
                            <img src="images/projects/4g.jpg" alt="image" />
                        </li>
                        <li>
                            <img src="images/projects/4h.jpg" alt="image" />
                        </li>
                    </ul>
                </div>
                <!--/Classic Slider -->
            
            </div>
        
        </div>
        <!--/Row -->
            
            
            
        <!-- Row --> 
        <div class="vc_row text-align-center row_padding_top row_padding_bottom">
        
            <div class="container">            
            	
                <br>
                
                <div class="text-carousel">
                
                    <div class="text-carousel-item">
                        <p class="bigger">"We hired to organise our business online, simplify our process, create a brand that communicated to our demographic clearly, and increase our sales"</p>
                        <p>Rick Harrison</p>
                    </div>
                    
                    <div class="text-carousel-item">
                        <p class="bigger">"We hired to organise our business online, simplify our process, create a brand that communicated to our demographic clearly, and increase our sales"</p>
                        <p>Rick Harrison</p>
                    </div>
                    
                    <div class="text-carousel-item">
                        <p class="bigger">"We hired to organise our business online, simplify our process, create a brand that communicated to our demographic clearly, and increase our sales"</p>
                        <p>Rick Harrison</p>
                    </div>                    
                
                </div>
            	
                <br><br><br><br>
            
            </div>
        
        </div>
        <!--/Row -->
        
        
        <!-- Background Vertical Lines -->
        <div class="bg-lines">    
            <div class="bg-line left"></div>        
            <div class="bg-line center"></div>        
            <div class="bg-line right"></div>    
        </div>
        <!--/Background Vertical Lines -->
        
        
	</div>        
    <!--/Project Content --> 
    
    
    <div id="nav-anchor"></div>
    
    <!-- Next Project Hero Image -->
    <div id="project_next" class="light-content" style="background-image:url(images/1.jpg);">
    
    	<div class="gradient"></div>
    	
        <div class="overlay">
        
        	<div class="outer">
            	<div class="inner">
                	<div class="project-link">
                		<div class="open-project">The <br> Glass House</div>                        
            		</div>
            	</div>
            </div>
            
            <div class="next-project-footer">
            
            	<p class="next">Next Project</p>                              
                
            
            	<p class="copyright">2016 &copy; Karioca Theme. All rights Reserved.</p>
                
            </div>
        
        </div>    
    </div>
    <!--/Next Project Hero Image -->
        
        
    
</div>  

