<div class="item-data project-page clearfix">



    <!-- Project Close Button -->
    <a id="project_close" class="hide" href="#" title="Close Project"><img src="images/close.png" class="closeicon" /></a>
	<!--/Project Close Button -->
    
    
    
    <!-- Project Content --> 
    <div class="project-content">
    
    
        <!-- Row --> 
        <div class="vc_row small row_padding_top row_padding_bottom">
        
            <div class="container">            
            
                <div class=" one_half">                
                
                	<p class="bigger">Founded on the ideas that buildings can serve as a bridge between nature, culture and people.</p> 
                
                </div>
                
                
                <div class=" one_half last"> 
                
                    <p>The owner’s affection for a stone <a class="link" href="#" title="Close Project">outcropping on her property</a> inspired the design of this house. Conceived as a retreat nestled into the rock, the Pierre celebrates the materiality of the site. <br><br> From certain angles, the house—with its rough materials, encompassing stone, green roof, and surrounding foliage—almost disappears into nature.</p>
                     
                    <br><br> 
    
                    <p><strong>Released:</strong> 21 Aug 2015</p>
                    <p><strong>Version:</strong> 2.1</p>
                    <p><strong>Last Updated:</strong> 4 Apr 2016</p>
                    <p><strong>Requirements:</strong> WordPress 4.3+</p>
                    <p><strong>Theme Type:</strong> Portfolio, Responsive, Retina-Ready</p>                 
                
                </div>
            
            
            </div>
        
        </div>
        <!--/Row -->
        
        
        
        
        
        
        
        <!-- Row --> 
        <div class="vc_row full">
        
            <div class="container">
            
            	<figure>
                    <img class="has-animation" data-delay="10" src="images/projects/1a.jpg" alt="Image Title">               
                    <figcaption>House Entrance</figcaption>
            	</figure>
            
            </div>
        
        </div>
        <!--/Row -->
        
        
        
        <!-- Row --> 
        <div class="vc_row small row_padding_top row_padding_bottom">
        
            <div class="container">            
            	
                <div class="one_half">
                
                	<!-- Service Icon Boxes -->
                    <div class="services-icon">            
                        <i class="fa fa-bullhorn"></i>                
                        <div class="service-info-text">            
                            <h5>Social Marketing</h5>            
                            <p>Nulla sagittis augue nec orci vestibulum, vel dapibus lorem dignissim. Suspendisse potenti. Quisque vehicula arcu eget libero.</p>            
                        </div>            
                    </div>                
                
                    <div class="services-icon">            
                        <i class="fa fa-desktop"></i>                
                        <div class="service-info-text">            
                            <h5>Graphic Design</h5>            
                            <p>Nulla sagittis augue nec orci vestibulum, vel dapibus lorem dignissim. Suspendisse potenti. Quisque vehicula arcu eget libero.</p>            
                        </div>            
                    </div>
                	<!--/Service Icon Boxes -->
                
                </div>
            
            	<div class="one_half last">
                
                	<!-- Service Icon Boxes -->
                    <div class="services-icon">            
                        <i class="fa fa-cog"></i>                
                        <div class="service-info-text">            
                            <h5>Web Development</h5>            
                            <p>Nulla sagittis augue nec orci vestibulum, vel dapibus lorem dignissim. Suspendisse potenti. Quisque vehicula arcu eget libero.</p>            
                        </div>            
                    </div>
                
                    <div class="services-icon">            
                        <i class="fa fa-bullhorn"></i>                
                        <div class="service-info-text">            
                            <h5>Social Marketing</h5>            
                            <p>Nulla sagittis augue nec orci vestibulum, vel dapibus lorem dignissim. Suspendisse potenti. Quisque vehicula arcu eget libero.</p>            
                        </div>            
                    </div>
                    <!--/Service Icon Boxes -->
                
                </div>
            
            </div>
        
        </div>
        <!--/Row -->
        
        
        
        <!-- Row --> 
        <div class="vc_row full">
        
            <div class="container">
                
                <!-- Gallery -->
                    <ul class="gallery mfp-gallery">
                        <li>
                        	<a class="mf-zoom" href="images/projects/1b.jpg">	
                            	<img class="has-animation" data-delay="100" src="images/projects/1b.jpg" alt="image" />
                            	<div class="zoom"></div>
                            </a>
                        </li>
                        <li>
                            <a class="mf-zoom" href="images/projects/1c.jpg">	
                            	<img class="has-animation" data-delay="300" src="images/projects/1c.jpg" alt="image" />
                            	<div class="zoom"></div>
                            </a>
                        </li>                       
                    </ul>
                <!--/Gallery -->                    
                    
            
            </div>
        
        </div>
        <!--/Row -->
        
        
        
        <!-- Row --> 
        <div class="vc_row small row_padding_top row_padding_bottom">
        
            <div class="container">
            	
                <br>
                
            	<h2>PROJECT FEATURES</h2>
                
                <br>
                
            	<p>With the exception of a separate guest suite, the house functions on one main level, with an open-plan kitchen, dining, and living space. A wood-clad storage box (made with siding reclaimed from a Lionel Pries–designed house) transitions from outside to inside. Its two large bookcases open to provide concealed access to laundry and kitchen storage.</p>
            	
                <br>
                
                <a href="http://www.olsonkundig.com/" target="_blank" class="blacksoft-button">Olson Kundig</a>
                
                <br><br>
            
            </div>
        
        </div>
        <!--/Row -->
        
        
        
        <!-- Row --> 
        <div class="vc_row full">
        
            <div class="container">
            
            	<figure>
                    <img class="has-animation" data-delay="10" src="images/projects/1d.jpg" alt="Image Title">               
                    <figcaption>Side View</figcaption>
            	</figure>
            
            </div>
        
        </div>
        <!--/Row -->
            
            
            
        <!-- Row --> 
        <div class="vc_row text-align-center row_padding_top row_padding_bottom">
        
            <div class="container">            
            	
                <br>
                
                <div class="text-carousel">
                
                    <div class="text-carousel-item">
                        <p class="bigger">"We hired to organise our business online, simplify our process, create a brand that communicated to our demographic clearly, and increase our sales"</p>
                        <p>Rick Harrison</p>
                    </div>
                    
                    <div class="text-carousel-item">
                        <p class="bigger">"We hired to organise our business online, simplify our process, create a brand that communicated to our demographic clearly, and increase our sales"</p>
                        <p>Rick Harrison</p>
                    </div>
                    
                    <div class="text-carousel-item">
                        <p class="bigger">"We hired to organise our business online, simplify our process, create a brand that communicated to our demographic clearly, and increase our sales"</p>
                        <p>Rick Harrison</p>
                    </div>                    
                
                </div>
            	
                <br><br><br><br>
            
            </div>
        
        </div>
        <!--/Row -->
        
        
        
        
               
        
        
        
        <!-- Background Vertical Lines -->
        <div class="bg-lines">    
            <div class="bg-line left"></div>        
            <div class="bg-line center"></div>        
            <div class="bg-line right"></div>    
        </div>
        <!--/Background Vertical Lines -->
        
        
	</div>        
    <!--/Project Content --> 
    
    
    <div id="nav-anchor"></div>
    
    <!-- Next Project Hero Image -->
    <div id="project_next" class="light-content" style="background-image:url(images/2.jpg);">
    
    	<div class="gradient"></div>
    	
        <div class="overlay">
        
        	<div class="outer">
            	<div class="inner">
                	<div class="project-link">
                		<div class="open-project">Hellen Reeves</div>                        
            		</div>
            	</div>
            </div>
            
            <div class="next-project-footer">
            
            	<p class="next">Next Project</p>                              
                
            
            	<p class="copyright">2016 &copy; Karioca Theme. All rights Reserved.</p>
                
            </div>
        
        </div>    
    </div>
    <!--/Next Project Hero Image -->
        
        
    
</div>  

