<div class="item-data project-page clearfix">



    <!-- Project Close Button -->
    <a id="project_close" class="hide" href="#" title="Close Project"><img src="images/close.png" class="closeicon" /></a>
	<!--/Project Close Button -->
    
    
    
    <!-- Project Content --> 
    <div class="project-content">
    
    
        <!-- Row --> 
        <div class="vc_row small row_padding_top">
        
            <div class="container">
            
                <div class=" one_half">                
                
                  <p class="bigger">Fast and unpredictable five second video battles. The rules are easy: Judge or be judged.</p>
                
                </div>
            
            </div>
        
        </div>
        <!--/Row -->
        
        
        
        <!-- Row --> 
        <div class="vc_row full">
        
            <div class="container">
            	
                <div class=" one_half">
                </div>
                
                
                <div class=" one_half last">
                
                    <figure>
                    	<img class="has-animation" src="images/2.jpg" alt="Image Title">               
                    	<figcaption>Image Caption Here</figcaption>
                    </figure>
                    
                </div>
            
            </div>
        
        </div>
        <!--/Row -->
        
        
        
        <!-- Row --> 
        <div class="vc_row small">
        
            <div class="container">
            	
                <div class=" one_half">
                	
                    <img class="has-animation" src="images/projects/2a.jpg" alt="Image Title">
                    
                </div>
                
                
                <div class=" one_half last">                     
                </div>
            
            </div>
        
        </div>
        <!--/Row -->
        
        
        <!-- Row --> 
        <div class="vc_row full">
        
            <div class="container">
            	
                <div class=" one_half">
                </div>
                
                
                <div class=" one_half last">
                
                    <figure>
                    	<img class="has-animation" src="images/projects/2b.jpg" alt="Image Title">               
                    	<figcaption>Image Caption Here</figcaption>
                    </figure>
                    
                </div>
            
            </div>
        
        </div>
        <!--/Row -->
        
        
        <!-- Row --> 
        <div class="vc_row full" style="padding:0">
        
            <div class="container">
            	
                <div class=" one_half">
                	
                    <img class="has-animation" src="images/projects/2d.jpg" alt="Image Title">
                    
                </div>
                
                
                <div class=" one_half last">                     
                </div>
            
            </div>
        
        </div>
        <!--/Row -->
        
        <!-- Row --> 
        <div class="vc_row " style="padding: 0;">
        
            <div class="container">
            	
                <div class=" one_half">
                </div>
                
                
                <div class=" one_half last">
                
                    <figure>
                    	<img class="has-animation" src="images/projects/2c.jpg" alt="Image Title">               
                    	<figcaption>Image Caption Here</figcaption>
                    </figure>
                    
                </div>
            
            </div>
        
        </div>
        <!--/Row -->
        
        
        
        <!-- Row --> 
        <div class="vc_row small" style="padding: 0 0 150px 0;">
        
            <div class="container">
            	
                <div class=" one_half">
                
                	<p><strong>Client:</strong> Vogue Magazine</p>
                    <p><strong>Model:</strong> Hellen Revees</p>
                    <p><strong>Date:</strong> 4 Apr 2016</p>
                    <p><strong>Gear:</strong> Canon 5D Mark III</p>
                
                </div>
                
                
                <div class=" one_half last">
                    
                </div>
            
            </div>
        
        </div>
        <!--/Row -->
        
        
        
        <!-- Background Vertical Lines -->
        <div class="bg-lines">    
            <div class="bg-line left"></div>        
            <div class="bg-line center"></div>        
            <div class="bg-line right"></div>    
        </div>
        <!--/Background Vertical Lines -->
        
        
	</div>        
    <!--/Project Content --> 
    
    
    <div id="nav-anchor"></div>
    
    <!-- Next Project Hero Image -->
    <div id="project_next" class="light-content" style="background-image:url(images/3.jpg);">
    
    	<div class="gradient"></div>
    	
        <div class="overlay">
        
        	<div class="outer">
            	<div class="inner">
                	<div class="project-link">
                		<div class="open-project">Camaro SS</div>                        
            		</div>
            	</div>
            </div>
            
            <div class="next-project-footer">
            
            	<p class="next">Next Project</p>                              
                
            
            	<p class="copyright">2016 &copy; Karioca Theme. All rights Reserved.</p>
                
            </div>
        
        </div>    
    </div>
    <!--/Next Project Hero Image -->
        
        
    
</div>  

