<div class="item-data project-page clearfix">



    <!-- Project Close Button -->
    <a id="project_close" class="hide" href="#" title="Close Project"><img src="images/close.png" class="closeicon" /></a>
	<!--/Project Close Button -->
    
    
    
    <!-- Project Content --> 
    <div class="project-content">
    
       <!-- Row --> 
        <div class="vc_row small row_padding_top row_padding_bottom">
        
            <div class="container">            
            
                <div class=" one_half">                
                
                	<p class="bigger">Expanding the creative minds of young and old.</p> 
                
                </div>
                
                
                <div class=" one_half last"> 
                
                    <p>We were approached and selected by Saatchi & Saatchi’s Worldwide Design Director – to work as their digital partner on an ambitious project set out by New Zealand’s Chartwell Trust.</p>
<br>
 <p>The Squiggla application is a project we are incredibly proud of. Focussed around taking drawing back to the wider public, the application has ecompassed all aspects of our business.
</p>                 
                
                </div>
            
            
            </div>
        
        </div>
        <!--/Row -->
        
	
        
        
        
        
        
        <!-- Row --> 
        <div class="vc_row full">
        
            <div class="container">
            
            	<div class=" one_half">
                	<img class="has-animation" data-delay="10" src="images/projects/squiggla_mac.jpg" alt="Image Title">
                </div>
                
                <div class=" one_half last">            
	            	<img class="has-animation" data-delay="10" src="images/projects/squiggla_mac2.jpg" alt="Image Title">                
                </div>
                
                	<div class="one_half">            
            
                    <img class="has-animation" data-delay="10" src="images/projects/squiggla_mobile.jpg" alt="Image Title"> 
                
                </div>
                
                
                <div class="one_half last">            
            
                    <img class="has-animation" data-delay="10" src="images/projects/squiggla_mobile2.jpg" alt="Image Title"> 
                
                </div>
            <div class=" one_half">
                	<img class="has-animation" data-delay="10" src="images/projects/squiggla_mac3.jpg" alt="Image Title">
                </div>
                
                <div class=" one_half last">            
	            	<img class="has-animation" data-delay="10" src="images/projects/squigga_mac4.jpg" alt="Image Title">                
                </div>
            
            </div>
        
        </div>
        <!--/Row -->
        
        
      
        
   
        
        
        
        <!-- Row --> 
        <div class="vc_row full">
        
            <div class="container">
                
                <figure>
                    <img class="has-animation" data-delay="10" src="images/projects/squiggla1.jpg" alt="Image Title">               
                  
            	</figure>                    
                    
            
            </div>
        
        </div>
        <!--/Row -->
        
  
    
       <!-- Row --> 
        <div class="vc_row small row_padding_top row_padding_bottom">
        
            <div class="container">            
            
                <div class=" one_half last"> 
                
                    <p>Our involvement in the project has been end-to-end, working along side design agency Mister Wolf with their design input. The platform has been build natively on Android, iOS and within the browser; setting a perfect example for what our cross-platform development team can do.



<br>
Having worked with the Chartwell Trust, we are excited to be a part of their journey moving into the future.
 
</p>                 
                
                </div>
            
            
            </div>
        
        </div>
        
	
        <!--/Row -->
        
     
        
         <!-- Row --> 
        <div class="vc_row full">
        
            <div class="container">
            
            	<div class="one_half">            
            
                    <img class="has-animation" data-delay="10" src="images/projects/squiggla_mobile3.jpg" alt="Image Title"> 
                
                </div>
                
                
                <div class="one_half last">            
            
                    <img class="has-animation" data-delay="10" src="images/projects/squiggla_mobile4.jpg" alt="Image Title"> 
                
                </div>
                	<div class="one_half">            
            
                    <img class="has-animation" data-delay="10" src="images/projects/squiggla_mobile6.jpg" alt="Image Title"> 
                
                </div>
                
                
                <div class="one_half last">            
            
                    <img class="has-animation" data-delay="10" src="images/projects/squiggla_mobile5.jpg" alt="Image Title"> 
                
                </div>
                
            
            </div>
        
        </div>
        <!--/Row -->
        
            
   
        
        
        <!-- Background Vertical Lines -->
        <div class="bg-lines">    
            <div class="bg-line left"></div>        
            <div class="bg-line center"></div>        
            <div class="bg-line right"></div>    
        </div>
        <!--/Background Vertical Lines -->
        
        
	</div>    
    <!--/Project Content --> 
    
    
    <div id="nav-anchor"></div>
    
    <!-- Next Project Hero Image -->
    <div id="project_next" class="light-content" style="background-image:url(images/1.jpg);">
    
    	<div class="gradient"></div>
    	
        <div class="overlay">
        
        	<div class="outer">
            	<div class="inner">
                	<div class="project-link">
                		<div class="open-project">Where Next App</div>                        
            		</div>
            	</div>
            </div>
            
               
            <div class="next-project-footer">
            
            	<p class="next">Got a project? <a href="contact">Lets talk</a></p>                              
                
            
            	<p class="copyright">2018 &copy; BlackSoftware</p>
                
            </div>
        
        </div>    
    </div>
    <!--/Next Project Hero Image -->
        
        
    
</div>  

