<div class="item-data project-page clearfix">



    <!-- Project Close Button -->
    <a id="project_close" class="hide" href="#" title="Close Project"><img src="images/close.png" class="closeicon" /></a>
	<!--/Project Close Button -->
    
    
    
    <!-- Project Content --> 
    <div class="project-content">
    
       <!-- Row --> 
        <div class="vc_row small row_padding_top row_padding_bottom">
        
            <div class="container">            
            
                <div class=" one_half">                
                
                	<p class="bigger">Bankers and lawyers in the palm of your hand</p> 
                
                </div>
                
                
                <div class=" one_half last"> 
                
                    <p>Wouldn’t it be great if one could hold privileged conversations and sign legally binding documents with lawyers, bankers and financial advisors without being “on the ground”? Often all that’s required is a signature or a statement – and the hassle of travel and queues seems a disproportionate effort.</p>
<br>
<p>
Suitebox provides the solution in an easy to use iOS App. Built from the ground up, Suitebox’s proprietary (patented) software allows real-time synchronisation of document viewing, sharing and communication across all meeting participants, regardless of location. Video streaming, recording, document sharing and signing are all built in.
 
</p>                 
                
                </div>
            
            
            </div>
        
        </div>
        <!--/Row -->
        
        
        
        
        
        
     
   
        
        
       <!-- Row --> 
        <div class="vc_row full row_padding_top">
        
            <div class="container">
            
            	<div class="one_half">            
            
                   <img class="has-animation" data-delay="10" src="images/projects/ipad_sb.jpg" alt="Image Title">
                
                </div>
                
             
                    
              <div class="one_half last">            
            
                    <img class="has-animation" data-delay="10" src="images/projects/sb_mac.jpg" alt="Image Title"> 
                
                </div>
             
            
            </div>
        
        </div>
        <!--/Row -->
        
          <!-- Row --> 
        <div class="vc_row small row_padding_top row_padding_bottom">
        
            <div class="container">            
            
                
                
                
                <div class=" one_half last"> 
                
                    <p>Suitebox is a classic example of Black Software’s end user-centric approach to software development and design, offering a UX that suits their lifestyles – in between meetings or while enjoying an espresso.





</p>
<br>
<p>
Just as important, it also answers our clients’ business critical imperatives: enhancing their customer relationships and improving organisational efficiencies. Companies using Suitebox improve their volume per staff member, enabling more meetings with more customers in a shorter time frame, while reducing expenditure on paper and other consumables.
</p>                 
                
                </div>
            
            
            </div>
        
        </div>
        <!--/Row -->
        
        <!-- Row --> 
        <div class="vc_row full">
        
            <div class="container">
                
                <figure>
                    <img class="has-animation" data-delay="10" src="images/projects/suitebox1.jpg" alt="Image Title">               
                   
            	</figure>                    
                    
            
            </div>
        
        </div>
        <!--/Row -->
        
        
          <!-- Row --> 
        <div class="vc_row small row_padding_top row_padding_bottom">
        
            <div class="container">            
            
                
                
                
                <div class=" one_half"> 
                
                    <p>Some leading companies that use Suitebox include, Liberty Bank, AON Insurance, New Zealand Financial Services Group, Abernethy Partners and Elders.


</p>
              <p>“Simon and his team at Black Software have been with us since the beginning of our journey. They provided a vital iOS piece of our cross-platform, multi layered architecture. It has been a very challenging integration to ensure a perfect and seamless customer experience. Simon managed the planning, the production and post production work with great skill, competence and professionalism. “</p>
                
                </div>
            
                     
              <div class="one_half last">            
            
                    <img class="has-animation" data-delay="10" src="images/projects/ipad_sb2.jpg" alt="Image Title"> 
                
                </div>
            </div>
        
        </div>
        <!--/Row -->
        
        
       
        
      
            
            
   
        
        <!-- Background Vertical Lines -->
        <div class="bg-lines">    
            <div class="bg-line left"></div>        
            <div class="bg-line center"></div>        
            <div class="bg-line right"></div>    
        </div>
        <!--/Background Vertical Lines -->
        
        
	</div>        
    <!--/Project Content --> 
    
    
    <div id="nav-anchor"></div>
    
    <!-- Next Project Hero Image -->
    <div id="project_next" class="light-content" style="background-image:url(images/4.jpg);">
    
    	<div class="gradient"></div>
    	
        <div class="overlay">
        
        	<div class="outer">
            	<div class="inner">
                	<div class="project-link">
                		<div class="open-project">KiwiSaver</div>                        
            		</div>
            	</div>
            </div>
            
                
            <div class="next-project-footer">
            
            	<p class="next">Got a project? <a href="contact">Lets talk</a></p>                              
                
            
            	<p class="copyright">2018 &copy; BlackSoftware</p>
                
            </div>
        
        </div>    
    </div>
    <!--/Next Project Hero Image -->
        
        
    
</div>  

