<div class="item-data project-page clearfix">



    <!-- Project Close Button -->
    <a id="project_close" class="hide" href="#" title="Close Project"><img src="images/close.png" class="closeicon" /></a>
	<!--/Project Close Button -->
    
    
    
    <!-- Project Content --> 
    <div class="project-content">
    
       <!-- Row --> 
        <div class="vc_row small row_padding_top">
        
            <div class="container">            
            
                <div class=" one_half">                
                
                	<p class="bigger">Step out of your comfort zone</p> 
                
                </div>
                
                
                <div class=" one_half last"> 
                
                    <p>People are creatures of habit; Aucklanders are no exception. Even with scads of places to choose from, you’ll still find them returning to the same restaurants, pubs, cafés and stores week after week.</p>
<br>
<p>
Our challenge was to break these behavior patterns - convincing people to enrich their lives by stepping out of their comfort zones without the uncertainty or risk that might entail.
Black Software’s solution was Where Next  - an easy-to-use, continually updated mobile app that, quite literally, puts the Heart of the City in your hands.
 
</p>                 
                
                </div>
            
            
            </div>
        
        </div>
        <!--/Row -->
        
        
        
        
        
        
     
   
        
        
       <!-- Row --> 
        <div class="vc_row small row_padding_top">
        
            <div class="container">
            
            	<div class="one_half">            
            
                   <img class="has-animation" data-delay="10" src="images/projects/wn6.jpg" alt="Image Title">
                
                </div>
                
             
                    
              <div class="one_half last">            
            
                    <img class="has-animation" data-delay="10" src="images/projects/wn7.jpg" alt="Image Title"> 
                
                </div>
                    
                <div class="one_half">            
            
                    <img class="has-animation" data-delay="10" src="images/projects/wn8.jpg" alt="Image Title"> 
                
                </div>
                    
              <div class="one_half last">            
            
                    <img class="has-animation" data-delay="10" src="images/projects/wn9.jpg" alt="Image Title"> 
                
                </div>
            
            </div>
        
        </div>
        <!--/Row -->
        
          <!-- Row --> 
        <div class="vc_row small row_padding_top">
        
            <div class="container">            
            
                
                
                
                <div class=" one_half last"> 
                
                    <p>Where Next accesses information from the comprehensive Heart of the City website. Its mobile friendly navigation takes the guesswork out of trying new spots by providing descriptions and photos of recommended venues and events near you, based on your GPS location.

</p>
<br>
<p>
User ratings will help you decide. More options? Simply swipe to navigate through your choices. A single tap provides a map and directions.
 
</p>                 
                
                </div>
            
            
            </div>
        
        </div>
        <!--/Row -->
        
        <!-- Row --> 
        <div class="vc_row full row_padding_top">
        
            <div class="container">
                
                <figure>
                    <img class="has-animation" data-delay="10" src="images/projects/hotc1.jpg" alt="Image Title">               
                   
            	</figure>                    
                    
            
            </div>
        
        </div>
        <!--/Row -->
        
        
          <!-- Row --> 
        <div class="vc_row small row_padding_top">
        
            <div class="container">            
            
                
                
                
                <div class=" one_half last"> 
                
                    <p>Since its launch in 2016, Where Next has gained massive exposure for Heart of the City’s business customers, while adding value to the lives of its rapidly growing user base. 


</p>
<br>
<p>
Interactive iBeacon technology has also been incorporated, allowing Heart of the City to push new position-relevant content to users on the move.
Every day, Auckland locals and tourists wonder, “Where should we go?” With Where Next, the answer is just a tap and a swipe away.
</p>                 
                
                </div>
            
            
            </div>
        
        </div>
        <!--/Row -->
        
        
        <!-- Row --> 
        <div class="vc_row small row_padding_top row_padding_bottom">
        
            <div class="container">
            
            	<div class="one_half">            
            
                   <img class="has-animation" data-delay="10" src="images/projects/wn2.jpg" alt="Image Title">
                
                </div>
                
             
                    
              <div class="one_half last">            
            
                    <img class="has-animation" data-delay="10" src="images/projects/wn3.jpg" alt="Image Title"> 
                
                </div>
                    
                <div class="one_half">            
            
                    <img class="has-animation" data-delay="10" src="images/projects/wn4.jpg" alt="Image Title"> 
                
                </div>
                    
              <div class="one_half last">            
            
                    <img class="has-animation" data-delay="10" src="images/projects/wn5.jpg" alt="Image Title"> 
                
                </div>
            
            </div>
        
        </div>
        <!--/Row -->
        
        
        
      
            
            
   
        
        <!-- Background Vertical Lines -->
        <div class="bg-lines">    
            <div class="bg-line left"></div>        
            <div class="bg-line center"></div>        
            <div class="bg-line right"></div>    
        </div>
        <!--/Background Vertical Lines -->
        
        
	</div>        
    <!--/Project Content --> 
    
    
    <div id="nav-anchor"></div>
    
    <!-- Next Project Hero Image -->
    <div id="project_next" class="light-content" style="background-image:url(images/2.jpg);">
    
    	<div class="gradient"></div>
    	
        <div class="overlay">
        
        	<div class="outer">
            	<div class="inner">
                	<div class="project-link">
                		<div class="open-project">MyFerry App</div>                        
            		</div>
            	</div>
            </div>
            
                
            <div class="next-project-footer">
            
            	<p class="next">Got a project? <a href="contact">Lets talk</a></p>                              
                
            
            	<p class="copyright">2018 &copy; BlackSoftware</p>
                
            </div>
        
        </div>    
    </div>
    <!--/Next Project Hero Image -->
        
        
    
</div>  

