<style type="text/css">

@import url('https://s3-ap-southeast-2.amazonaws.com/blacksoftware-resources/sig.css');

a {
	color: #000;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
td {
	font-family: 'Casper Bold', 'Helvetica', 'Calibri';
	font-size: 14px;
}
table {
	padding-left: 0px;
}


</style>

<table>
	<tr>
		<td height="4" style="   font-size: 4px;" width="26"><div style="background-color: #000; height:4px; width:26px;">&nbsp;</div></td>
	</tr>
	<tr>
		<td height="4" style="height:4px;   font-size: 4px;" width="26">&nbsp;</td>
	</tr>
</table>
<table>
	<tr>
		<td></td>
	</tr>
	<tr>
		<td>Simon Vollmer</td>
	</tr>
</table>
<table>
	<tr>
		<td height="4" style="height:4px;   font-size: 4px;" width="26">&nbsp;</td>
	</tr>
	<tr>
		<td height="4" style="  font-size: 4px;" width="26"><div style="background-color: #000; height:4px; width:26px;">&nbsp;</div></td>
	</tr>
</table>
<table>
	<tr>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td><img width="170" src="http://www.blacksoftware.co.nz/resources/logo.png" alt="Black Software Logo" /></td>
	</tr>
</table>

<table>
	<tr>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td width="25">M</td>
		<td><a href="tel:+64212378218">+64 21 237 8218</a></td>
	</tr>
	<tr>
		<td width="25">&nbsp;</td>
		<td>&nbsp;</td>
	</tr>
	<tr>
		<td width="25">E</td>
		<td><a href="mailto:simon@blacksoftware.co.nz">simon@blacksoftware.co.nz</a></td>
	</tr>
	<tr>
		<td width="25">W</td>
		<td><a href="http://blacksoftware.co.nz/">www.blacksoftware.co.nz</a></td>
	</tr>
</table>